{% extends 'estate_objects/base_ob.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	Flats
{% endblock %}


{% block content %}
	<style>
		table {
 		 font-family: arial, sans-serif;
 		 border-collapse: collapse;
 		 width: 100%;
		}

		td, th {
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 8px;
		}

		tr:nth-child(even) {
  		background-color: #dddddd;
		}
	</style>

	<table>
  		<tr>
		 <th style="width:5%">I</th>
   		 <th style="width:10%">Город</th>
    		 <th style="width:10%">Район</th>
    		 <th style="width:10%">Улица</th>
		 <th style="width:5%">Этаж/этажн</th>
		 <th style="width:5%">Ком-т</th>
		 <th style="width:5%">Площадь</th>
		 <th style="width:5%">План-ка</th>
		 <th style="width:5%">Цена</th>
		 <th style="width:30%">Инфо</th>
		 <th style="width:10%">Автор</th>
  		 </tr>
	
	
		
	{% for flat in flats%}
		<tr>
		<td><a href="{{flat.get_absolute_url}}">I</a></td>
		 <td>{{flat.city}}</td>
    		 <td>{{flat.district}}</td>
		 <td>{{flat.street}}</td>
		 <td>{{flat.floor}}/{{flat.floors}}</td>
		 <td>{{flat.rooms}}</td>
		 <td>{{flat.square}}</td>
		 <td>{{flat.plan}}</td>
		 <td>{{flat.price}}</td>
		 <td>{{flat.text_info}}{{flat.add_date.day}}</td>
		<td>{%for u,num in phone_numbers.items%} 
			{% if flat.author_object == u%}
			{%for n in num %}<a href="{% url 'objects_for_phone_number_url' author_object=flat.author_object %}">{{n}}</a><br>{%endfor%}
			{%endif%}
			{%endfor%}
		 </td>
		</tr>
	{% endfor %}
	
	<a href="">	

	</table>
  {% if is_paginated %}


 <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {%if not prev_url%}disabled{%endif%}">
      <a class="page-link" href="{{prev_url}}">Previous</a>
    </li>
    
    


    {% for n in flats.paginator.page_range %}
	{% if flats.number == n %}
		<li class="page-item active" aria-current="page">
      			<a class="page-link" href="?{{s1}}&page={{n}}">{{n}}</a>
    		</li>
	{%elif n > flats.number|add:-3  and n < flats.number|add:3%}
	<li class="page-item"><a class="page-link" href="?{{s1}}&page={{n}}">{{n}}</a></li>
	{%endif%}
    {%endfor%}

    <li class="page-item {%if not next_url%}disabled{%endif%}">
      <a class="page-link" href="{{next_url}}">Next</a>
    </li>
  </ul>
</nav>
{%endif%}

{% endblock %} 
	        
<!--{flat.get_absolute_url}-->
