{% extends 'estate_objects/base_ob.html'%}

 
{% block title %}
		
	Update flat
{% endblock %}


{% block content %}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}
</style>
	
	

	<form action="{{flag.get_update_url}}" method='post' enctype="multipart/form-data">
		{% csrf_token %}
	<div class="form-group">
		<table style="width:100%">
  
	<tr>
   		 <td>Тип объекта{{form.types}}</td>
    		 <td></td>
		 <td></td>
		
 	 </tr>

	 <tr>
   		 <td>Город{{form.city}}</td>
		 <td>Район{{form.district}}</td>
    		 <td>Улица/проспект и т.д.{{form.street}}</td>
		
 	 </tr>
	<tr>
   		 <td>Этаж/Этажность{{form.floor}}/{{form.floors}}</td>
		 <td>Кол-во комнат{{form.rooms}}Планировка{{form.plan}}</td>
    		 <td>Площадь{{form.square}}Цена{{form.price}}</td>
 	 </tr>
	</table>
	<table style="width:100%">
	
	<tr>
   		 <td style="width:100%">Информация{{form.text_info}}</td>
		
		 
 	 </tr>
	 <tr>
	  <td> {%for im in images%}
	<a href="{%url 'flat_big_image_url' flat_id=flat.id%}"><img class="rounded-circle account-img" src="{{im}}" style="width: 100px; height: auto;"></a>
	{%endfor%}
	</td>
	</tr>
	<tr>
	<td>
	

        
	 {%for img in imgs%}
	 
	
		
	<a href="{{img.id}}">Удалить</a>

	{%endfor%}
	 </td>
 	 </tr>
	<tr>
	  <td style="width:50%"> {{form.flat_image}}</td>
 	 </tr>
	<tr>
   		 <td>{{form.author_object}}</td>
	</tr>	

		</table>
	</div>
	<button type="submit" class="btn btn-primary">Изменить</button>
	</form>
  {{s}}

{% endblock %} 

