{% extends 'estate_objects/base_ob.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	Houses
{% endblock %}


{% block content %}
	<style>
		table {
 		 font-family: arial, sans-serif;
 		 border-collapse: collapse;
 		 width: 100%;
		}

		td, th {
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 8px;
		}

		tr:nth-child(even) {
  		background-color: #dddddd;
		}
	</style>

	<table>
  		<tr>
		 <th style="width:5%">I</th>
		 <th style="width:4%">Тип</th>
   		 <th style="width:10%">Город</th>
    		 <th style="width:10%">Район</th>
    		 <th style="width:10%">Улица</th>
		 <th style="width:4%">Этаж</th>
		 <th style="width:4%">Ком-т</th>
		 <th style="width:4%">Площадь</th>
		 <th style="width:4%">Цена</th>
		 <th style="width:5%">Часть участка</th>
		 <th style="width:5%">Площадь участка</th>
		 <th style="width:30%">Инфо</th>
		 <th style="width:10%">Автор</th>
  		 </tr>
	
	
		
	{% for house in houses%}
		<tr>
		<td><a href="{{house.get_absolute_url}}">I</a></td>
		 <td>{{house.types}}</td>
		 <td>{{house.city}}</td>
    		 <td>{{house.district}}</td>
		 <td>{{house.street}}</td>
		 <td>{{house.floor}}</td>
		 <td>{{house.rooms}}</td>
		 <td>{{house.square}}</td>
		 <td>{{house.price}}</td>
		 <td>{{house.land_part}}</td>
		 <td>{{house.land_square}}</td>
		 <td>{{house.text_info}}</td>
		 <td>{%for u,num in phone_numbers.items%} 
			{% if house.author_object == u%}
			{%for n in num %}<a href="{% url 'objects_for_phone_number_url' author_object=house.author_object %}">{{n}}</a><br>{%endfor%}
			{%endif%}
			{%endfor%}
		 </td>
	{% endfor %}
	
		
	</table>

 {% if is_paginated %}


 <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {%if not prev_url%}disabled{%endif%}">
      <a class="page-link" href="{{prev_url}}">Previous</a>
    </li>
    
    


    {% for n in houses.paginator.page_range %}
	{% if houses.number == n %}
		<li class="page-item active" aria-current="page">
      			<a class="page-link" href="?{{s1}}&page={{n}}">{{n}}</a>
    		</li>
	{%elif n > flats.number|add:-3  and n < flats.number|add:3%}
	<li class="page-item"><a class="page-link" href="?{{s1}}&page={{n}}">{{n}}</a></li>
	{%endif%}
    {%endfor%}

    <li class="page-item {%if not next_url%}disabled{%endif%}">
      <a class="page-link" href="{{next_url}}">Next</a>
    </li>
  </ul>
</nav>
{%endif%}

{% endblock %} 

<!--{flat.get_absolute_url}-->
